<div class="modal">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit expedita
    quis nihil quo sapiente voluptates earum delectus alias iure aspernatur
    eveniet voluptate necessitatibus tempora, nostrum consequatur ipsa obcaecati
    nam debitis? Neque rerum quidem saepe, dignissimos voluptate nisi itaque
    reiciendis sint ab corrupti nemo velit veniam quam porro est aliquam fugiat?
  </p>
  <span class="btn--info-close"> ✕ </span>
</div>
<div class="overlay"></div>
